.topBarContainer {
    display: flex;
    justify-content: flex-start;
    /* background-color: #151618; */
    padding-left: 30px;
    /* background-color: #b07946; */
}

h1 {
    color: #fff68f;
    font-size: 3rem;
}

span {
    color: #A9A454;
    font-size: 1.2rem;

}