.dashBoardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 20px;
  padding: 10px;
}

.dashBoardContainer :first-child {
  grid-column: 1 / -1;
}

.boxContainer {
  grid-column: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 23px;
  row-gap: 12px;
  background-color: #394767;
}

.chartTitle {
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #ffffff85;
  font-family: system-ui;
  font-size: 1.1rem;
  margin: 3px;
}
